.DS_Store
basic/.DS_Store

vue_test/.DS_Store
vue_test/node_modules
vue_test/dist

vue_test/.env.local
vue_test/.env.*.local

vue_test/npm-debug.log*
vue_test/yarn-debug.log*
vue_test/yarn-error.log*
vue_test/pnpm-debug.log*

vue_test/.idea
vue_test/.vscode
vue_test/*.suo
vue_test/*.ntvs*
vue_test/*.njsproj
vue_test/*.sln
vue_test/*.sw?
