<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-model form</title>
  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <form>
      <label for="acc">Account: </label>
      <input type="text" id="acc" v-model="account"> <br><br>
      <label for="pass">Password: </label>
      <input type="password" id="pass" v-model="password"> <br><br>
      Sex: 
      <label for="male">male</label>
      <!-- same name means radios in a group -->
      <!-- add value for v-model to bind -->
      <input type="radio" id="male" name="sex" value="male" v-model="sex">  
      <label for="female">female</label>
      <input type="radio" id="female" name="sex" value="female" v-model="sex"> <br><br>
      Hobbies: 
      <label for="hob-stu">study</label>
      <input type="checkbox" name="hobbies" id="hob-stu">
      <label for="hob-mov">movie</label>
      <input type="checkbox" name="hobbies" id="hob-mov">
      <label for="hob-food">food</label>
      <input type="checkbox" name="hobbies" id="hob-food"> <br><br>
      School:
      <select>
        <option value="">Please select your schcool</option>
        <option value="adelaide">Adelaide</option>
        <option value="mel">Meibourne</option>
        <option value="syd">Sydney</option>
      </select><br><br>
      Other: <textarea></textarea> <br><br>
      <input type="checkbox">Accept  
      <a href="http://atguigu.com">conditions and terms</a> <br><br>
      <button>Submit</button>
    </form>
  </div>
  <script>
    Vue.config.productionTip = false
    new Vue({
      el: "#app",
      data: {
        account: '',
        password: '', 
        sex: 'male',
      }
    })
  </script>
</body>

</html>