<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>watch</title>
  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="searchInfo">
    <div v-if="showSearch">searching...</div>
    <ol>
      <li v-for="item in result">
        {{item}}
      </li>
    </ol>

  </div>
  <script>
    new Vue({
      el: "#app",
      data: {
        searchInfo: "",
        showSearch: false,
        result: ['js', 'css']
      },
      watch: {
        searchInfo: function () {
          this.showSearch = true;
          setTimeout(() => {
            this.result = ['html']
            this.showSearch = false;
          }, 500)
        }
      }
    })
  </script>
</body>

</html>